TTRSS_DB_USER=postgres
TTRSS_DB_NAME=postgres
TTRSS_DB_PASS={{ postgresql_password }}

HTTP_PORT=127.0.0.1:8280

TTRSS_SELF_URL_PATH=https://ttrss.{{ base_url }}/tt-rss

TTRSS_SESSION_COOKIE_LIFETIME=2592000
