server {
    if ($host = {{ base_url }}) {
        return 301 https://{{ redirect_to }};
    }

    server_name {{ base_url }};
    listen 443 ssl;
    return 404;

    ssl_certificate /etc/letsencrypt/live/{{ base_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ base_url }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ base_url }}/fullchain.pem;
}

server {
    if ($host = {{ base_url }}) {
        return 301 https://{{ redirect_to }};
    }

    server_name {{ base_url }};
    listen 80;
    return 404;
}

server {
    if ($host = {{ website_url }}) {
        return 301 https://{{ redirect_to }};
    }

    server_name {{ website_url }};
    listen 443 ssl;
    return 404;

    ssl_certificate /etc/letsencrypt/live/{{ base_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ base_url }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ base_url }}/fullchain.pem;
}

server {
    if ($host = {{ website_url }}) {
        return 301 https://{{ redirect_to }};
    }

    server_name {{ website_url }};
    listen 80;
    return 404;
}
