[static]
server_host_name_or_ip

[static:vars]
host_remote_user=
website_url=
secured_server=true|false
static_website_git_repo=
static_website_git_version=
static_website_destination_path=
static_website_server_path=
static_website_htpassword_protected=
static_website_htlogin=
static_website_htpassword=
static_website_build_command=
static_website_dependencies_prod_only=
