---
- set_fact: ttrss_project_dir="/home/{{ host_remote_user }}/ttrss-docker"

- name: Fetch Tiny Tiny RSS Docker Compose repository
  git:
    dest: "{{ ttrss_project_dir }}"
    repo: https://git.tt-rss.org/fox/ttrss-docker-compose.git
    accept_hostkey: yes
    force: yes
  become: false

- name: Generate ".env" file
  template:
    src: dotenv.j2
    dest: "{{ ttrss_project_dir }}/.env"
  become: false

- name: Tear down existing services
  docker_compose:
    project_src: "{{ ttrss_project_dir }}"
    state: absent

- name: Up Tiny Tiny RSS services
  docker_compose:
    project_src: "{{ ttrss_project_dir }}"
    state: present
    build: yes
    pull: yes
